// @import '../../../assets/scss/variables';

:host ::ng-deep {
    .p-toolbar {
        border-radius: 0rem;
        padding: 0px;
        border: none;
    }

    .header-toolbar {
        .p-toolbar-start {
            padding-left: 12px;

            .left-section {
                width: auto;
                display: contents;

                .pan-gif {
                    width: 50px;
                    height: 50px;
                }
            }
        }


        .right-section {
            width: auto;
            padding-right: 12px;
            display: flex;
            gap: 12px;

            .register-btn {
                font-weight: 500;
                color: var(--primary-color);

                .p-button {
                    padding: 0px;

                    .p-button-label {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }

            .avtar {
                width: 32px;
                height: 32px;
            }
        }
    }
}