<p-toolbar class="header-toolbar">
    <ng-template #start>
        <div class="flex items-center left-section">
            <img src="assets/gifs/PanConnect.gif" alt="Logo" class="pan-gif" />
            <p-button label="Files" text plain class="option-btn"/>
            <p-button label="Edit" text plain class="option-btn"/>
            <p-button label="View" text plain class="option-btn"/>
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center right-section">
            <p-button label="Register" text plain class="register-btn" />
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                class="avtar"/>
        </div>
    </ng-template>
</p-toolbar>