$color-primary: #030213;
$color-background: #ffffff;
$color-main-text: oklch(0.145 0 0);
$color-border: rgba(0, 0, 0, 0.1);
$color-input-background: #f3f3f5;
$color-muted-background: #ececf0;
$color-muted-foreground: #717182;
$color-warning: #d4183d;
$color-highlight: #e9ebef;
$color-green: #1a8917;
