@use 'assets/scss/_variables' as *;
@import 'primeicons/primeicons.css';

* {
  font-family: 'Nonito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}